/ALUControl.class
/ALUResult.class
/CPUControl.class
/CPUMemory.class
/InstructionFields.class
/MemResult.class
/Sim4.class
/Sim4_test_commonCode.class
/Test_01_getInstruction.class
/Test_02_executeControl1.class
/Test_03_executeControl2.class
/Test_04_aluInputs.class
/Test_05_execALU.class
/Test_06_execMEM.class
/Test_07_fullInstructions.class
/Test_07_fullInstructions_disabled_opcode_field_1.class
/Test_07_fullInstructions_disabled_opcode_field_2.class
/Test_07_fullInstructions_disabled_opcode_field_3.class
/Test_08_checkUpper4BitsOnJump.class
/Test_09_singleInstruction.class
/Test_10_syscalls.class
/Test_11_multipleInstructions1.class
/Test_12_multipleInstructions1_noDebug.class
/Test_13_invalidInstructions.class
/Test_20_ADD_SUB_ADDI.class
/Test_21_AND_OR_XOR.class
/Test_22_SLT_SLTI.class
/Test_milestone1_02_executeControl1.class
/Test_milestone1_03_executeControl2.class
